<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBoxCalService" />
                <binding name="BasicHttpsBinding_IBoxCalService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://boxvolumecaltrialexameasw20171023120355.azurewebsites.net/BoxCalService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBoxCalService"
                contract="BoxCalServiceReference.IBoxCalService" name="BasicHttpBinding_IBoxCalService" />
            <endpoint address="https://boxvolumecaltrialexameasw20171023120355.azurewebsites.net/BoxCalService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IBoxCalService"
                contract="BoxCalServiceReference.IBoxCalService" name="BasicHttpsBinding_IBoxCalService" />
        </client>
    </system.serviceModel>
</configuration>