<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBoxCalService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49903/BoxCalService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBoxCalService"
                contract="BoxCalServiceReference.IBoxCalService" name="BasicHttpBinding_IBoxCalService" />
        </client>
    </system.serviceModel>
</configuration>